.footer {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #65b389;
    z-index: 10;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        border-bottom: 2px solid #fff;
    }

    &__container-left {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 180px;
        width: 200px;
    }

    &__left-menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__menu-title {
        font-size: 20px;
        font-weight: 500;
        color: snow;
        margin-bottom: .5rem;
    }

    &__menu-link {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        transition: all .2s linear;
        &:hover{
            transform: scale(1.05);
        }
    }

    &__left-logo {
        width: 150px;
        background: #ffffff;
        border-radius: 10px;
        padding: 0 5px;
        cursor: pointer;

        &:active {
            transform: scale(1.03);
        }
    }

    &__logo-text {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
    }

    &__icon {
        width: 100%;
        object-fit: cover;
    }

    &__container-right {
        max-width: 450px;
        display: flex;
        flex-direction: column;
    }

    &__right-about {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__social {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: .5rem;
       
    }

    &__about-text {
        display: flex;
        gap: 1.4rem;

        &:nth-child(3) {
            margin-bottom: 1.3rem;
        }

        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 1rem;
    }
}