.service {
    background: #eee;

    .title {
        margin-top: 4rem;
    }

    &__container {
        margin-top: 3.5rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex: 2;
    }

    &__card {
        max-width: 300px;
        height: 320px;
        position: relative;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        background: #FFF;
        cursor: pointer;
        transition: .3s linear;
        &:hover{
            transform: scale(1.04);
        }

        &:nth-child(1) {
            margin-bottom: 4rem;
        }
    }
    &__title{
        color: #3a3a3a;
        font-weight: 500;
        margin: .3rem 0;
    }
    &__description{
        font-size: 16px;
        color: #3a3a3a;
    }
    &__img {
        width: 100%;
        position: absolute;
        object-fit: contain;
        left: 0;
        bottom: 0;
        // z-index: 10 !important;
    }
}