.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999 !important;
    backdrop-filter: blur(10px);
    background: #ffffff4a;
    transition: .3s ease;

    &__container {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*This is a navbar icon styles*/

    &__container-left {
        width: 150px;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 150px;
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
    }

    &__icon-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    /*This is a navbar link styles*/

    &__container-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;

    }

    &__right-links {
        width: 850px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right-link {
        color: #000;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        position: relative;
        cursor: pointer;
        transition: all .4s linear;


        &:hover {
            background: linear-gradient(to right, green #65b389);
            -webkit-background-clip: text;
            opacity: .8;
            transition: all .4s linear;

        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0px;
            height: 3px;
            bottom: -2px;
            background: linear-gradient(green, #65b389);
            transition: all .5s;
            border-radius: 20px;
            z-index: -1;
        }


        &:hover::before {
            width: 100%;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;

    }

    /*This is a navbar login styles */
    &__login-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: transparent;

    }

    &__btn {
        display: flex;
        align-items: center;
        background: #65b389;
        height: 37px;
        margin-left: 20px;
        transition: all .4s linear;

        &:hover {
            background: green !important;
        }

        &:active {
            transform: scale(1.04);
        }
    }

    &__person-icon {
        margin-right: 7px;
        cursor: pointer;
    }

    &__scrolled {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    }

    &__item__x {
        background: transparent;
        display: none;
        cursor: pointer;
        transition: .4s linear;
    }

    .active {
        background: #65b389;
        color: white;
        padding: 5px 15px;
        border-radius: 10px;
    }
}