.login {
    opacity: 1;
    pointer-events: auto;
    z-index: 11111111 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: all .4s linear;

    &--open {
        opacity: 1;
        pointer-events: auto;
        z-index: 100000000 !important;

    }

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: auto;
        padding: 20px 10px;
        padding-bottom: 50px;
        background: #ffffff;
        border-radius: 15px;
        // transition: all 0.3s;
        transform: scale(1);
        pointer-events: auto;
        transition: all .2s linear;
        cursor: pointer;

        &:hover {
            transform: scale(1.04);
        }
    }

    &__logo {
        margin-bottom: 10px;
        padding-right: 7px;
        width: 150px;
        object-fit: contain;
    }

    &__title {
        font-weight: 300;
        font-size: 25px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
        color: green;
    }

    &__input {
        padding: 15px;
        width: 270px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgba(128, 128, 128, 0.7);
        transition: all .4s linear;

        &:focus {
            border: 1px solid green;
        }
    }

    &__btn {
        padding: 10px 0;
        width: 270px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        border-radius: 10px;
        background-color: green;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}